<app-login></app-login>
<!-- App component runs successfully
<p>gfgafsg</p>
<input id="username" name="username" placeholder="username" class="sadf"/>
<button>Submit</button>
<button mat-button>Basic</button>
<button mat-button color="primary">Primary</button> -->



<!-- <h1>{{title}}</h1>
<input id="username" type="text" [(ngModel)]="username" name="username" placeholder="username" class="sdfsdf"/>
<input id="password" type="text" [(ngModel)]="password" name="password" placeholder="password" class="sdfsdf"/>

<button mat-button color="primary" (click)="signin()">Primary</button> -->